<div class="card">
  <a href="/games/<%= steam_appid %>" class="text-body">
    <img class="card-img-top" src="<%=header_image%>" />
    <div class="card-body">
      <h5 class="card-title"><%= name%></h5>
      <p class="card-text">GENRES: <%=genres%></p>
      <p class="cardtext">RELEASE: <%=release_date%></p>
      <p class="cardtext">PRICE: $<%=price%></p>
    </div>
  </a>
</div>